.stopper {
  font-size: 12vh;
  text-align: right;
  position: relative;
  height: 14vh;
  padding-top: 20px;
}

.stopper .time {
  position: absolute;
  left: 1vh;
  bottom: 1vh;
}

.stopper .milliseconds {
  position: absolute;
  font-size: 8vh;
  right: 1vh;
  bottom: 2vh;
}
