.header {
  background-color: silver;
  height: 10vh;
  color: navy;
  position: relative;
  text-align: left;
  vertical-align: bottom;
}

.header h2 {
    margin: 2vh;
  display: inline-block;
}

.header nav,
.header ul,
.header li {
  display: inline-block;
}

.header li {
  margin: auto 2vh;
}

.header a {
    color: navy;
    text-decoration: none;
    font-weight: bold;
}